<div class='scoreContainer'>
    <mat-grid-list cols='6' rowHeight='100px'>
        <mat-grid-tile>
            <button mat-icon-button>
                <mat-icon (click)='prevDay()'>chevron_left</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]='4'>
            <h1 class='title'>
                Games on {{formatDate}}
            </h1>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button>
                <mat-icon (click)='nextDay()'>chevron_right</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
    <div class='games'>
        
        <a *ngFor='let game of games'>
            <div class='gameContainer'
                [ngStyle]="{borderImage: 'linear-gradient(to right,'+game.homeColor + ',' + game.visitorColor+') 1'}">
                <mat-grid-list cols='3' rowHeight='100px'>
                    <mat-grid-tile>
                        <h2 class='playingTeam'>{{game.home_team.full_name}}</h2>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h2 class='score' [ngClass]="{winner: game.home_team_score > game.visitor_team_score}">
                            {{game.home_team_score}}</h2>
                        <h2>&nbsp;-&nbsp;</h2>
                        <h2 class='score' [ngClass]="{winner: game.visitor_team_score > game.home_team_score}">
                            {{game.visitor_team_score}}</h2>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h2 class='playingTeam'>{{game.visitor_team.full_name}}</h2>
                    </mat-grid-tile>
                </mat-grid-list>
                <span *ngIf="game.time !== ''">
                    <mat-progress-bar mode='indeterminate'></mat-progress-bar>
                </span>
                <h3>{{game.time + ' ' + game.status}}</h3>
            </div>
        </a>
        <!-- <h2 *ngIf="games.length === 0">No Games</h2> -->
    </div>
</div>